/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.is-disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.is-hidden {
  display: none;
}

.avatar-icon {
  cursor: pointer;
}

/* TODO: デザイン　動作確認をしやすいようとりあえず入れた */
.toast {
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 1000;

  padding: 12px 16px;
  border-radius: 6px;

  background: #333;
  color: #fff;
}
