- service_key = site_name.to_s.downcase
- service_key = 'default' unless %w[remo zoom slack discord google].include?(service_key)

span.service-icon class="service-icon--#{service_key}" aria-hidden='true'
  - case service_key
  - when 'remo'
    = image_tag 'remo-logo.svg', class: 'remo-logo', alt: ''
  - when 'zoom'
    = image_tag 'zoom-logo.svg', class: 'zoom-logo', alt: ''
  - when 'slack'
    = image_tag 'slack-logo.svg', class: 'service-logo-svg', alt: ''
  - when 'discord'
    - discord_path = 'M7.2 7.2c3.1-1.5 6.5-1.5 9.6 0 1.4 2 2.2 4.4 2.4 6.9-1.7 1.4-3.4 2.2-5.2 2.6l-.7-1.1' \
      'c.8-.2 1.6-.6 2.3-1-2.3 1.1-4.9 1.1-7.2 0 .7.4 1.5.8 2.3 1l-.7 1.1c-1.8-.4-3.5-1.2-5.2-2.6' \
      '.2-2.5 1-4.9 2.4-6.9Z'
    svg.service-logo-svg fill='none' viewBox='0 0 24 24'
      path d=discord_path fill='currentColor'
      circle cx='9.2' cy='12' r='1.2' fill='#5865F2'
      circle cx='14.8' cy='12' r='1.2' fill='#5865F2'
  - when 'google'
    span.google-logo-letter G
  - else
    span = site_name.to_s.first.upcase
