- service_key = site_name.to_s.downcase
- service_key = 'default' unless %w[remo zoom slack discord google].include?(service_key)

span.service-icon class="service-icon--#{service_key}" aria-hidden='true'
  - case service_key
  - when 'remo'
    = image_tag 'remo-logo.svg', class: 'remo-logo', alt: ''
  - when 'zoom'
    = image_tag 'zoom-logo.svg', class: 'zoom-logo', alt: ''
  - when 'slack'
    = image_tag 'slack-logo.svg', class: 'service-logo-svg', alt: ''
  - when 'discord'
    = image_tag 'discord-logo.svg', class: 'discord-logo', alt: ''
  - when 'google'
    span.google-logo-letter G
  - else
    span = site_name.to_s.first.upcase
