- flash.each do |flash_type, message|
  div data-controller="flash" class="fixed top-2 right-4 z-50 bg-indigo-50/75 backdrop-blur-sm flex items-center justify-between px-5 py-3 rounded-lg shadow-md border text-primary border-indigo-200 font-medium text-sm pointer-events-none"
    = message
