- flash.each do |flash_type, message|
  - attributes = flash_attributes(flash_type)
  div(data-controller="flash" class="flash-message flash-message--#{flash_type}" role=attributes[:role] aria-live=attributes[:aria_live] aria-atomic='true')
    = message
